@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: none;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(245, 243, 243);
}
h1 {
  text-align: center;
}
.container {
  width: 400px;
  height: 32vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.display {
  background-color: rgb(156, 191, 221);
  width: 400px;
  height: 100px;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.7rem;
  padding: 7px;
  border-radius: 5px 5px 0 0;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
button {
  width: calc(100% / 4);
  height: 50px;
  font-size: 1.4rem;
}
.clear,
.equalTo {
  width: calc(2 * 100% / 4);
}
button:hover {
  background-color: rgb(228, 231, 235);
}

button:active {
  background-color: rgb(172, 193, 212);
}
