@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: none;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  width: 99vw;
  height: 98vh;
}
.container {
  width: 400px;
  height: 30vh;
  background-color: antiquewhite;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: rgb(112, 112, 177);
  width: 400px;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
button {
  width: calc(100% / 4);
  height: 50px;
  font-size: 1.4rem;
}
.clear,
.equalTo {
  width: calc(2 * 100% / 4);
}
